{:deps  {cprop/cprop {:mvn/version "0.1.18"}}
 :paths ["scripts"]
 :tasks {:requires    ([gitopa])
         ;; helpers and constants
         :init        (do)
         :enter       (do)
         :leave       (do)

         repl         {:doc  "Run Clojure repl for Emacs with cider"
                       :task (clojure "-M:cider/nrepl")}

         run (do (gitopa/run (or (first *command-line-args*) "sites.edn")))
         
         

         }}

