{:sites {:samurai {:repo "git@github.com:HealthSamurai/knowledge-base.git"
                   :key "/root/.ssh/kb"
                   :port 4477
                   :host "samurai.zendoc.me"
                   :re-ignore-changes "docs/.*"
                   :envs {:GOOGLE_APPLICATION_CREDENTIALS "keys/aidbox2-205511-be667ecd08a2.json"}
                   :exec ["clojure" "-M:prod" "4477"]}

         :fhir-ru {:repo "https://github.com/fhir-ru/zendoc"
                   :port 3333
                   :host "fhir-ru.zendoc.me"
                   :exec ["clojure" "-M:run" "3333"]}

         :fhir-ru-mirror {:repo "https://github.com/fhir-ru/zendoc"
                          :port 3344
                          :host "fhir.ru"
                          :exec ["clojure" "-M:run" "3344"]}}
 :hook-listener-port 3742
 :timeout 5000
 :reload-cmd []}
