{:sites {:samurai {:repo "git@github.com:HealthSamurai/knowledge-base.git"
                   :key "keys/id_rsa"
                   :port 4477
                   :host "samurai.zendoc.me"
                   :envs {:GOOGLE_APPLICATION_CREDENTIALS "keys/aidbox2-205511-be667ecd08a2.json"}
                   :exec ["clojure" "-M:prod" "4477"]}

         :fhir-ru {:repo "https://github.com/fhir-ru/zendoc"
                   :port 3333
                   :host "fhir-ru.zendoc.me"
                   :exec ["clojure" "-M:run" "3333"]}}
 :timeout 5000
 :reload-cmd []}
